@import url('/css/fonts/JetBrainsMono-Regular.woff2');
:root {
    --cds-bg: #fff;
    --cds-header-bg: #594ae2;
    --cds-header-btn-bg-hov: #6453fd;
    --cds-sidenav-bg: #fafafd;
    --cds-activelink-bg: #e5e5e5;
    --cds-link-color: #161616;
    --tt-outline: #c8c8c8;
    --tt-header: #fafafd;
    --tt-btn: #292929;
    --tt-btn-active: #f4f4f4;
    --tt-btn-disabled-bg: #F0F0F0;
    --tt-btn-disabled-color: #C8C8C8;
    --tt-code-bg: rgba(97, 97, 97, 0.15);
    --tt-code-color: #616161;
    --tt-codeblock-bg: #1e1e1e;
    --tt-codeblock-color: #fff;
    --tt-placeholder-color: #BCBCBC;
}

:root[theme='g100'] {
    --cds-bg: #1e1e1e;
    --cds-header-bg: #161616;
    --cds-header-btn-bg-hov: #353535;
    --cds-sidenav-bg: #292929;
    --cds-activelink-bg: #393939;
    --cds-link-color: #f4f4f4;
    --tt-outline: #393939;
    --tt-header: #292929;
    --tt-btn: #c8c8c8;
    --tt-btn-active: #c8c8c8;
    --tt-btn-disabled-bg: #323232;
    --tt-btn-disabled-color: #646464;
    --tt-code-bg: rgba(188, 188, 188, 0.15);
    --tt-code-color: #BCBCBC;
    --tt-codeblock-bg: #fff;
    --tt-codeblock-color: #1e1e1e;
    --tt-placeholder-color: #616161;
}

.color-mud {
    color: #594ae2;
}

.bg-mud {
    background-color: #594ae2;
}

.color-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.color-dark {
    color: #1e1e1e;
}

.bg-dark {
    background-color: #1e1e1e;
}

.color-danger {
    color: #da1e28;
}

.bg-danger {
    background-color: #da1e28;
}

.color-success {
    color: #42be65;
}

.bg-success {
    background-color: #42be65;
}

.color-primary {
    color: #0f62fe;
}

.bg-primary {
    background-color: #0f62fe;
}

.bg-pink {
    background-color: #f9dae1;
}

.bg-yellow {
    background-color: #faf594;
}

.bg-blue {
    background-color: #beebfa;
}

.bg-green {
    background-color: #befac8;
}

.bg-transparent {
    background-color: transparent;
}

.auth-bg {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #1e1e1e;
}

.auth-box {
    display: block;
    background-color: #fff;
    width: 20rem;
    min-height: 20rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.company-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .company-logo {
        display: none;
    }
}

a.bx--header__name {
    display: none;
}

.app-header-name {
    font-size: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0 1rem;
    border: 0.125rem solid transparent;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 1.25rem;
    outline: none;
    text-decoration: none;
    transition: border-color 110ms;
    user-select: none;
    color: #fff;
}

.app-header-button {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    appearance: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 0.0625rem solid transparent;
    transition: background-color 110ms, border-color 110ms;
    font-size: 1rem;
    color: #fff;
}

.selectedmenu::before {
    position: absolute;
    left: 4px;
    width: 4px;
    height: 4px;
    background-color: #0f62fe;
    content: '';
}

body {
    background-color: var(--cds-bg);
}

.bx--data-table_inner-container {
    background-color: var(--cds-layer);
}

.bx--data-table::-webkit-scrollbar {
    display: none;
}

.bx--side-nav__items::-webkit-scrollbar {
    display: none;
}

.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
    padding: 0 1rem;
}

.submenu-item .bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) {
    margin-right: 3rem;
}

.bx--header {
    background-color: var(--cds-header-bg);
}

.bx--header__action:hover {
    background-color: var(--cds-header-btn-bg-hov);
}

.bx--inline-notification {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.bx--toast-notification {
    position: fixed;
    top: 3rem;
    right: 0;
    margin: 1rem;
}

.users-table .bx--data-table--sticky-header {
    max-height: calc(100vh - 12.5rem);
    height: calc(100vh - 12.5rem);
}

.bx--loading-overlay {
    z-index: 9999;
}

.bx--table-toolbar {
    z-index: 7900;
}

.bx--list-box__menu {
    z-index: 9997;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.tile {
    margin: -1rem -1rem 1rem -1rem;
}

.content {
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 1rem;
}

.bx--tile {
    min-height: 3rem;
    padding: 1rem;
}

.bx--side-nav {
    z-index: 9998;
    background-color: var(--cds-sidenav-bg);
    color: var(--cds-link-color);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover .bx--side-nav__item:not(.bx--side-nav__item--active)>.bx--side-nav__submenu:hover,
.bx--side-nav__item:not(.bx--side-nav__item--active)>.bx--side-nav__link:hover,
.bx--side-nav__menu a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current='page']):hover,
.bx--side-nav a.bx--header__menu-item:hover,
.bx--side-nav .bx--header__menu-title[aria-expanded='true']:hover {
    background-color: var(--cds-activelink-bg);
    color: var(--cds-link-color);
}

.bx--side-nav__item:not(.bx--side-nav__item--active)>.bx--side-nav__link:hover>span,
.bx--side-nav__item:not(.bx--side-nav__item--active) .bx--side-nav__menu-item>.bx--side-nav__link:hover>span {
    color: var(--cds-link-color);
}

.bx--side-nav__submenu:hover {
    background-color: var(--cds-activelink-bg);
    color: var(--cds-link-color);
}

a.bx--side-nav__link>.bx--side-nav__link-text,
.bx--side-nav a.bx--header__menu-item .bx--text-truncate-end {
    color: var(--cds-link-color);
}

a.bx--side-nav__link[aria-current='page'] .bx--side-nav__link-text,
a.bx--side-nav__link--current .bx--side-nav__link-text {
    color: var(--cds-link-color);
}

a.bx--side-nav__link[aria-current='page'],
a.bx--side-nav__link--current {
    background-color: var(--cds-activelink-bg);
}

.bx--side-nav__menu a.bx--side-nav__link[aria-current='page'] {
    background-color: var(--cds-activelink-bg);
}

.bx--side-nav__menu a.bx--side-nav__link[aria-current='page']>span,
a.bx--side-nav__link--current>span {
    color: var(--cds-link-color);
    font-weight: 400;
}

.bx--side-nav__submenu {
    color: var(--cds-link-color);
}

a.bx--side-nav__link,
.bx--side-nav__submenu {
    min-height: 2.5rem;
}

.bx--side-nav__menu a.bx--side-nav__link {
    height: 2.5rem;
    min-height: 2.5rem;
}

.bx--side-nav__icon>svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--cds-link-color);
}

@media (max-width: 65.98rem) {
    .bx--side-nav__overlay-active {
        width: 0;
        height: 0;
        background-color: inherit;
        opacity: 0;
    }
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
    position: relative;
    width: 100%;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.p-4 {
    padding: 1rem !important;
}

.p-5 {
    padding: 1.25rem !important;
}

.p-6 {
    padding: 1.5rem !important;
}

.p-7 {
    padding: 1.75rem !important;
}

.p-8 {
    padding: 2rem !important;
}

.p-9 {
    padding: 2.25rem !important;
}

.p-10 {
    padding: 2.5rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.pl-3 {
    padding-left: 0.75rem !important;
}

.pl-4 {
    padding-left: 1rem !important;
}

.pl-5 {
    padding-left: 1.25rem !important;
}

.pl-6 {
    padding-left: 1.5rem !important;
}

.pl-7 {
    padding-left: 1.75rem !important;
}

.pl-8 {
    padding-left: 2rem !important;
}

.pl-9 {
    padding-left: 2.25rem !important;
}

.pl-10 {
    padding-left: 2.5rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.pr-3 {
    padding-right: 0.75rem !important;
}

.pr-4 {
    padding-right: 1rem !important;
}

.pr-5 {
    padding-right: 1.25rem !important;
}

.pr-6 {
    padding-right: 1.5rem !important;
}

.pr-7 {
    padding-right: 1.75rem !important;
}

.pr-8 {
    padding-right: 2rem !important;
}

.pr-9 {
    padding-right: 2.25rem !important;
}

.pr-10 {
    padding-right: 2.5rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 0.75rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}

.pt-5 {
    padding-top: 1.25rem !important;
}

.pt-6 {
    padding-top: 1.5rem !important;
}

.pt-7 {
    padding-top: 1.75rem !important;
}

.pt-8 {
    padding-top: 2rem !important;
}

.pt-9 {
    padding-top: 2.25rem !important;
}

.pt-10 {
    padding-top: 2.5rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 0.75rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pb-5 {
    padding-bottom: 1.25rem !important;
}

.pb-6 {
    padding-bottom: 1.5rem !important;
}

.pb-7 {
    padding-bottom: 1.75rem !important;
}

.pb-8 {
    padding-bottom: 2rem !important;
}

.pb-9 {
    padding-bottom: 2.25rem !important;
}

.pb-10 {
    padding-bottom: 2.5rem !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-7 {
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

.px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.px-9 {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
}

.px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-7 {
    padding-top: 1.75rem !important;
    padding-bottom: 1.75rem !important;
}

.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.py-9 {
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
}

.py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 0.75rem !important;
}

.m-4 {
    margin: 1rem !important;
}

.m-5 {
    margin: 1.25rem !important;
}

.m-6 {
    margin: 1.5rem !important;
}

.m-7 {
    margin: 1.75rem !important;
}

.m-8 {
    margin: 2rem !important;
}

.m-9 {
    margin: 2.25rem !important;
}

.m-10 {
    margin: 2.5rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 0.75rem !important;
}

.ml-4 {
    margin-left: 1rem !important;
}

.ml-5 {
    margin-left: 1.25rem !important;
}

.ml-6 {
    margin-left: 1.5rem !important;
}

.ml-7 {
    margin-left: 1.75rem !important;
}

.ml-8 {
    margin-left: 2rem !important;
}

.ml-9 {
    margin-left: 2.25rem !important;
}

.ml-10 {
    margin-left: 2.5rem !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mr-3 {
    margin-right: 0.75rem !important;
}

.mr-4 {
    margin-right: 1rem !important;
}

.mr-5 {
    margin-right: 1.25rem !important;
}

.mr-6 {
    margin-right: 1.5rem !important;
}

.mr-7 {
    margin-right: 1.75rem !important;
}

.mr-8 {
    margin-right: 2rem !important;
}

.mr-9 {
    margin-right: 2.25rem !important;
}

.mr-10 {
    margin-right: 2.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.mt-4 {
    margin-top: 1rem !important;
}

.mt-5 {
    margin-top: 1.25rem !important;
}

.mt-6 {
    margin-top: 1.5rem !important;
}

.mt-7 {
    margin-top: 1.75rem !important;
}

.mt-8 {
    margin-top: 2rem !important;
}

.mt-9 {
    margin-top: 2.25rem !important;
}

.mt-10 {
    margin-top: 2.5rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}

.mb-9 {
    margin-bottom: 2.25rem !important;
}

.mb-10 {
    margin-bottom: 2.5rem !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.mx-3 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}

.mx-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.mx-5 {
    margin-left: 1.25rem !important;
    margin-right: 1.25rem !important;
}

.mx-6 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mx-7 {
    margin-left: 1.75rem !important;
    margin-right: 1.75rem !important;
}

.mx-8 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.mx-9 {
    margin-left: 2.25rem !important;
    margin-right: 2.25rem !important;
}

.mx-10 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-5 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-7 {
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
}

.my-8 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.my-9 {
    margin-top: 2.25rem !important;
    margin-bottom: 2.25rem !important;
}

.my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}